html{
    cursor: url(../imagens/mata_mosquito.png) 30 30, auto;
}

body{
    background: url(../imagens/bg.jpg) no-repeat, center;
    background-size: 100%;
}

.mosquito1{
    width: 40px;
    height: 40px;
}

.mosquito2{
    width: 75px;
    height: 75px;
}

.mosquito3{
    width: 100px;
    height: 100px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

/*---------Painel e tempo------------*/
.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0;
    bottom: 0;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}